# Build output directory
dist/

# Node.js modules
node_modules/

# Env file
.env.development
.env.production

# pnpm lock file
pnpm-lock.yaml

# Cache file
.eslintcache

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
